

button {
    color:#c83200;
    background-color:hsla(240, 50%, 50%, 0.26);
    font-size: 32px;
    font-weight: bold;
    padding: 5px;
    border: 2px inset rgba(4, 69, 112, 0.692);
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 5px;
    
    }
img {
    height:auto;
    width: 500px;
}
h1 {
    background-color: rgba(20, 200, 200, 0.2);
}
h2 {
    background-color: rgba(50, 50, 200, 0.2);
}
h4 {
    background-color: rgba(255, 51, 0, 0.205)
}
.fancy {
    font-family: arial, sans-serif ;
    font-size: 40px;
    text-align: center;
    color: rgb(33, 81, 226);
}